Repository mendix/native-widgets, pull requests merged in 2024-01, with the labels that each got.

#99 [MOO-1220]: Update changelog 9.24
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
Labels: Widget

#106 Fix pipeline
  .github/workflows/Build.yml
  .github/workflows/Release.yml
  configs/jsactions/rollup-plugin-collect-dependencies.js
  configs/jsactions/rollup.config.js
Labels: Core

#109 Nanoflow Commons: Updating changelogs
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Widget, Core

#110 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Widget

#97 [MOO-1290][MOO-1307]: React native upgrade to 0.72.7
  package.json
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/accordion-native/src/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/animation-native/src/__tests__/__snapshots__/Animation.spec.tsx.snap
  packages/pluggableWidgets/background-gradient-native/src/__tests__/__snapshots__/backgroundGradient.spec.tsx.snap
  packages/pluggableWidgets/badge-native/src/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/pluggableWidgets/color-picker-native/src/__tests__/__snapshots__/ColorPicker.spec.tsx.snap
  packages/pluggableWidgets/feedback-native/src/__tests__/__snapshots__/Feedback.spec.tsx.snap
  packages/pluggableWidgets/floating-action-button-native/src/__tests__/__snapshots__/FloatingActionButton.spec.tsx.snap
  packages/pluggableWidgets/gallery-native/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-native/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-native/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/pluggableWidgets/image-native/src/package.xml
  packages/pluggableWidgets/intro-screen-native/src/__tests__/__snapshots__/IntroScreen.notch.spec.tsx.snap
  packages/pluggableWidgets/intro-screen-native/src/__tests__/__snapshots__/IntroScreen.spec.tsx.snap
  packages/pluggableWidgets/popup-menu-native/src/__tests__/__snapshots__/PopupMenu.spec.tsx.snap
  packages/pluggableWidgets/radio-buttons-native/src/__tests__/__snapshots__/RadioButtons.spec.tsx.snap
  packages/pluggableWidgets/range-slider-native/src/__tests__/__snapshots__/RangeSlider.spec.tsx.snap
  packages/pluggableWidgets/rating-native/CHANGELOG.md
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/rating-native/src/package.xml
  packages/pluggableWidgets/signature-native/src/__tests__/__snapshots__/Signature.ios.spec.tsx.snap
  packages/pluggableWidgets/slider-native/src/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/pluggableWidgets/toggle-buttons-native/src/ToggleButtons.tsx
  packages/pluggableWidgets/toggle-buttons-native/src/__tests__/__snapshots__/ToggleButtons.spec.tsx.snap
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/package.json
  packages/pluggableWidgets/video-player-native/src/__tests__/__snapshots__/VideoPlayer.spec.tsx.snap
  packages/pluggableWidgets/video-player-native/src/package.xml
  scripts/widget/README.md
  scripts/widget/buildWidgets.js
  yarn.lock
Labels: Widget, Core

#111 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/rating-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
Labels: Widget

#92 fix(accordion-native): content height
  packages/pluggableWidgets/accordion-native/src/Accordion.tsx
  packages/pluggableWidgets/accordion-native/src/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-native/src/components/CollapsibleView.tsx
Labels: Widget

#93 fix(accordion-native): set value collapsed attribute
  packages/pluggableWidgets/accordion-native/src/Accordion.tsx
Labels: Widget

#113 [MOO-1293]: Gallery pull down loading indicator (mx 9.24)
  packages/pluggableWidgets/gallery-native/CHANGELOG.md
  packages/pluggableWidgets/gallery-native/package.json
  packages/pluggableWidgets/gallery-native/src/Gallery.tsx
  packages/pluggableWidgets/gallery-native/src/package.xml
Labels: Widget
