Repository mendix/native-widgets, pull requests merged in 2024-02, with the labels that each got.

#114 [MOO-1293]: Gallery pull down loading indicator
  packages/pluggableWidgets/gallery-native/CHANGELOG.md
  packages/pluggableWidgets/gallery-native/package.json
  packages/pluggableWidgets/gallery-native/src/Gallery.tsx
  packages/pluggableWidgets/gallery-native/src/package.xml
Labels: Widget

#115 Update the CHANGELOG of the accordion widget and bump the version
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/accordion-native/src/package.xml
Labels: Widget

#112 Fix widget build script
  package.json
  scripts/widget/buildWidgets.js
Labels: Core

#116 [MOO-1339]: Fix accordion behavior for dynamic content and collapsed state (9.24)
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/accordion-native/src/Accordion.tsx
  packages/pluggableWidgets/accordion-native/src/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-native/src/components/CollapsibleView.tsx
  packages/pluggableWidgets/accordion-native/src/package.xml
Labels: Widget

#118 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/pluggableWidgets/gallery-native/CHANGELOG.md
Labels: Widget, Core
